*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.bat
.idea
*.gradle
gradlew
/app/build
/app/sampledata
/app/src/androidTest
/app/src/test

